extends ../templates/html.pug

block body
  header
    h1
      |End Caps
      br
      |Lock Now
  p.intro
    span The
    =" "
    span.caps-lock-key Caps Lock
    =" "
    span key is a pox upon modern keyboards.
    =" "
    | It exists only to be pressed by aCCIDENT HALFWAY THROUGH A SENTENCE UNTIL
    | YOu realise your mistake. We're not all touch-typists. Most of us are
    | looking at the keyboard when we type.

    p.intro Here's how to disable the
      span.caps-lock-key Caps Lock
      | on desktop operating systems:

    div.advice-container
      div.macos
        | macos advice
      div.linux
        | linux advice
      div.windows
        | windows advice
