extends ../templates/html.pug

block body
  header
    h1
      |End Caps
      br
      |Lock Now
  p.intro.
    The #[span.caps-lock-key Caps Lock] key is a pox upon modern keyboards.
    It exists only to be pressed by aCCIDENT HALFWAY THROUGH A SENTENCE UNTIL
    YOu realise your mistake. We're not all touch-typists. Most of us are
    looking at the keyboard when we type. Accidentally having Caps Lock engaged
    is responsible for 67% of all failed login attempts (the rest being due to
    booze, sausage-fingers, and amnesia).

  p.intro Here's how to disable the accursed
    =" "
    span.caps-lock-key Caps Lock
    =" "
    | key on desktop operating systems:

  div.advice-container
    div.macos
      h2 Mac
      p You can disable the caps lock key easily enough for your user account through System Settings:
      ol
        li Open the Apple menu (the Apple icon at the left end of the menu bar)
        li Click #[b System Preferences]
        li In the system preferences panel, click #[b Keyboard]
        li In the keyboard preferences panel, go to the #[b Keyboard] tab
        li Click #[b Modifier Keys]
        li In the modifier keys panel, change the action for Caps Lock - set it to No Action to sompletely disable it.
      p This will take effect immediately - try it out!
      p Note this this only applies to your own account, so it will not have any effect on the login screen.
      p.
        To #[b re-enable caps lock], follow the same instruction as above, but
        in step 6, set the action for Caps Lock back to "Caps Lock".
      p
        | Credit:&nbsp;
        a(href="http://www.cultofmac.com/246792/stop-yelling-turn-off-the-caps-lock-key-on-your-mac-os-x-tips/") Cult of Mac
    div.linux
      h2 Linux
      p You need to add a startup command (Run every time the computer boots) that will disable the caps lock key in the keyboard map.
      ol
        li.
          Search for #[code Startup Applications] in the dash and open it.
        li.
          Click #[b.action Add].
        li For the #[b name] put
          div #[code Disable Caps Lock]
        li Under #[b command] put
          div #[code setxkbmap -option caps:none]
        li Press save.
        li Restart your computer to check that it's worked.
      p.
        To #[b re-enable caps lock], follow the same instruction, but
        #[b.action Delete] the entry you created.
      p
        | Credit:&nbsp;
        a(href="http://askubuntu.com/a/574246") Ask Ubuntu
    div.windows
      h2 Windows
      p.
        Obviously Windows, being the most popular consumer operating system in
        the world, has made disabling the caps lock key as easy as clicking a
        button in the control panel... hahaha, sorry, no, you're going to have
        to apply a registry patch.
      p.
        Don't be alarmed though. It's pretty simple:
      ol
        li
          a(href="disable_caps_lock.reg") Click here to download "disable_caps_lock.reg"
        li.
          Find the download (probably in your "Downloads" folder?) and #[b double-click it]
        li.
          Your computer may prompt you (something along the lines of
          "Do you want to allow this app to make changes to your device?").
        li.
          Click #[b.action Yes].
        li.
          You will now see a prompt from Regedit, asking if you want to continue
          importing the file.
        li.
          Click #[b.action Yes].
        li Restart your computer to check that it's worked.
      p To #[b re-enable caps lock]:
      ol
        li
          a(href="enable_caps_lock.reg") Click here to download "enable_caps_lock.reg"
        li Follow the instructions above from step 2 onwards.

      p
        | Credit:&nbsp;
        a(href="http://answers.microsoft.com/en-us/windows/forum/windows_7-desktop/disable-caps-lock-key/8083d4ee-721d-463f-aeda-630cd7f047c3") Microsoft Community
