doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="{{ description }}")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="css/normalize.css")
    link(rel="stylesheet" href="css/main.css")
    script(src="http://localhost:35729/livereload.js")
    block title
      title End Caps Lock
  body
    block body
    div.contact.
      Comments, fixes, suggestions?
      #[a.main(href="https://github.com/n3dst4/end-caps-lock") GitHub (best!)]
      or #[a(href="mailto:contact@endcapslock.org") email]

    //- anal googlytics
    script.
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-20249351-2','auto');ga('send','pageview');

  footer.site-footer.
    Made by Neil de Carteret. Generated using #[a(href="http://metalsmith.io") Metalsmith] and hosted on
    #[a(href="https://github.com/n3dst4/end-caps-lock") GitHub]
